body {
    margin: 0px;
    font-family: "Calibri";
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul li {
    float:   left;
}


@keyframes menuHoverFade {
    from {background-color: #333}
    to {background-color: #0081d6}
}

@keyframes menuHoverFadeActive {
    from {background-color: Yellow}
    to {background-color: #0081d6}
}

.menu-right {
    float: right !important;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.menu-item:hover {
    animation-name: menuHoverFade;
    animation-duration: 0.5s;
    background-color: #0081d6;
}
.active {
    background-color: yellow;
}
/*fade from yellow to blue on the active page link */
.active:hover {
    animation-name: menuHoverFadeActive !important;
    animation-duration: 0.5s;
}
.flex-container {
    display: flex;
}

.content {
    background-color: lightgray;
    margin: 45px 10% 0px 10%;
}

.content-block {
    width: 60%;
    margin: auto;
}

.block {
    padding: 10px 0px 10px 0px;
}

.site-header {
    padding: 0px;
    background-color: orange;
    text-align: center;
    color: white;
    width: 100%;
    margin: 0;
}

.site-header-block {
    width: 50%;
    margin: auto auto;

}

.header-img {
    max-height: 42px;
    float: left;
    padding: 8px;
}

.site-title {
    font-size: 36px;
    margin: 0px;
    padding: 8px 0px 8px 0px;
}