body {
    margin: 0px;
    font-family: "Calibri";
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul li {
    float:   left;
}


@keyframes menuHoverFade {
    from {background-color: #333}
    to {background-color: #0081d6}
}

@keyframes menuHoverFadeActive {
    from {background-color: Yellow}
    to {background-color: #0081d6}
}

.menu-right {
    float: right !important;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.menu-item:hover {
    animation-name: menuHoverFade;
    animation-duration: 0.5s;
    background-color: #0081d6;
}
.active {
    background-color: yellow;
}
/*fade from yellow to blue on the active page link */
.active:hover {
    animation-name: menuHoverFadeActive !important;
    animation-duration: 0.5s;
}
.flex-container {
    display: flex;
}

.content {
    background-color: lightgray;
    margin: 45px 10% 0px 10%;
}

.small-content {
    width: 60%;
    margin: 45px auto 0px auto;
}

.content-block {
    width: 60%;
    margin: auto;
}


.block {
    padding: 10px 0px 10px 0px;
}

.site-header {
    padding: 0px;
    background-color: orange;
    text-align: center;
    color: white;
    width: 100%;
    margin: 0;
}

.site-header-block {
    width: 50%;
    margin: auto auto;

}

.header-img {
    max-height: 42px;
    float: left;
    padding: 8px;
}

.site-title {
    font-size: 36px;
    margin: 0px;
    padding: 8px 0px 8px 0px;
}

.round-edge {
    border-radius: 25px;
}
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}